/* Medium devices (tablets, less than 992px) */
@media all and (max-width: 991px) {
  .md6 {
    width: 50%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 76px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .xs12 {
    width: 100%;
  }
  .wrapper {
    padding: 0 10px;
  }
  header {
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 8px;
  }
  header nav {
    display: table;
    float: none;
    margin: 0px auto 30px auto;
  }
  header li {
    margin-left: 20px;
    margin-right: 20px;
  }
  #hero .wrapper {
    width: 95%;
  }
  #hero h1 {
    font-size: 30px;
    margin-top: 50px;
  }
  #hero h2 {
    font-size: 28px;
  }
  #hero p {
    font-size: 24px;
  }
  #about .wrapper {
    max-width: 400px;
  }
  body {
    font-size: 16px;
  }
  a {
    font-size: 19px;
  }
  .form-control {
    width: 300px;
  }
  #contact .wrapper {
    width: 95%;
  }
}
