/*
Colors used

Primary Color (Navy): #040442;
Primary Color (White): #FFFFFF;
Secondary Color (Black): #000000;
Secondary Color (Cyan): #AFEEEE;
Secondary Color (Turquoise): #098599;
*/

/* text style */
body {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000000;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight:700;
  color: #040442;
  text-align: center;
}

h2 {
  font-size: 31px;
  font-weight:700;
  color: #040442;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #AFEEEE;
  transition-duration: 0.8s;
  opacity: 0.9;
}

a:active {
  color: #040442;
}

/* button style */
.button {
  display: inline-block;
  border: 2px solid #040442;
  background-color: #040442;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 33px 12px 33px;
  margin-top: 10px;
}

.button:hover,
.button:focus {
  background-color: #FFFFFF;
  color: #040442;
  transition-duration: 0.8s;
  opacity: 0.9;
}

/* Layout styling */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.center {
  display: block;
  margin: 50px auto 20px auto;
  width: 25%;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper1 {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 100px auto;
  padding: 0 20px;
}

.row {
  display: table;
}

.column {
  float: left;
  padding: 5px 10px;
  margin: 5px 0;
}

.lg4 {
  width: 33.333333%;
  text-align: center;
}

/* Header */
header {
  background-color: #040442;
  padding-top: 8px;
}

.logo {
  display: inline-block;
  width: 90px;
  margin: 8px 0 10px 0;
}

nav {
  display: inline-block;
  float: right;
  margin-top: 22px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  float: left;
  margin-left: 40px;
}

nav a {
  text-transform: uppercase;
  color: #FFFFFF;
}

nav a:visited {
  color: #FFFFFF;
}

nav a:hover {
  color: #AFEEEE;
}

nav a:active {
  color: #AFEEEE;
}

/* Hero */
#hero {
  background-color: #040442;
  padding: 3px 0 100px 0;
}

#hero .wrapper {
  text-align: center;
  max-width: 950px;
}

#hero h1, #hero p {
  color: #FFFFFF;
}

#hero h1 {
  font-weight:700;
  font-size: 34px;
  text-align: center;
  line-height: 1.5;
}

#hero p {
  font-size: 24px;
  text-align: center;
}

#hero .button {
  margin: 10px 15px;
}

#hero .button1 {
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  color: #040442;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px 12px 15px;
  transition-duration: 0.5s;
}

#hero .button1:hover,
.button1:focus {
  background-color: #040442;
  color: #FFFFFF;
}

#hero span {
  display: block;
}

#hero .button {
  border-color: #FFFFFF;
  margin-top: 10px;
}

/* Works */
#works {
  padding: 30px 0 100px 0;
}

#works a {
  display:inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.08);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.08);
  padding: 30px 0 30px 0;
}

#works a:hover {
  transition-duration: 0.5s;
  opacity: 0.4;
}

#works img {
  max-width: 80%
}

#works h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

#works h3 {
  text-align: center;
  color: #040442;
  margin-top: 5px;
}

#works h3:hover {
  color: #AFEEEE;
  transition-duration: 0.5s;
  opacity: 0.7;
}

/* Footer */
footer {
  background-color: #040442;
  padding: 30px 0 50px 0;
  text-align: center;
}

footer .wrapper {
  text-align: center;
  max-width: 950px;
}

footer h2, footer p {
  color: #FFFFFF;
}

footer h2 {
  font-weight:700;
  text-align: center;
  margin-bottom: 10px;
}

footer p {
  margin: 5px 0;
  text-align: center;
  font-size: 22px;
}

footer .button {
  border-color: #FFFFFF;
  margin-top: 30px;
}

.social {
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
}

.social li {
  float: left;
  padding: 0 10px;
}

footer svg {
  width: 36px;
  height: auto;
}

footer svg:hover {
  transition-duration: 0.5s;
  opacity: 0.4;
}

.small-text {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}

/* About */
#about {
  padding-bottom: 5px;
}

#about .wrapper {
  max-width: 850px;
}

#about .portrait {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about h2 {
  font-weight:700;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}

#about .contact-button {
  margin: 15px 0 90px 0;
}

#about ul {
  list-style-type: none;
  padding: 0;
}

@keyframes color-change {
  from {fill: #F0BC5E;}
  to {fill: #C71585;}
}

.path {
  animation: 4s color-change infinite alternate ease-in;
}

@keyframes rect-move {
  from {transform: rorate(0deg);}
  to {transform: rotate(20deg);}
}

.rect {
  animation: 10s rect-move infinite alternate linear;
}

/* Projects */
#projects h1 {
  margin: 40px 0 30px 0;
  font-size: 38px;
}

#projects h2 {
  margin-top: 50px;
  font-size: 28px;
}

#projects h3 {
  margin-top: 30px;
}

#projects img {
  max-width: 95%;
}

#projects .downsize {
  max-width: 70%;
}

/* Medium devices (tablets, less than 992px) */
@media all and (max-width: 991px) {
  .md6 {
    width: 50%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .xs12 {
    width: 100%;
  }
  .wrapper {
    padding: 0 10px;
  }
  header {
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 8px;
  }
  header nav {
    display: table;
    float: none;
    margin: 0px auto 30px auto;
  }
  header li {
    margin-left: 20px;
    margin-right: 20px;
  }
  #hero h1 {
    font-size: 30px;
  }
  #hero h2 {
    font-size: 28px;
  }
  #hero p {
    font-size: 24px;
  }
  body {
    font-size: 16px;
  }
  a {
    font-size: 19px;
  }
}
