/*
Colors used

Primary Color (Navy): #040442;
Primary Color (White): #FFFFFF;
Secondary Color (Black): #000000;
Secondary Color (Cyan): #AFEEEE;
Secondary Color (Turquoise): #098599;
*/

/* text style */
body {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #040442;
  text-align: center;
}

h2 {
  font-size: 31px;
  font-weight: 700;
  color: #040442;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #afeeee;
  transition-duration: 0.8s;
  opacity: 0.9;
}

a:active {
  color: #040442;
}

/* button style */
.button {
  display: inline-block;
  border: 2px solid #040442;
  background-color: #040442;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 33px 12px;
  margin-top: 10px;
}

.button:hover,
.button:focus {
  background-color: #fff;
  color: #040442;
  transition-duration: 0.8s;
  opacity: 0.9;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: #fff;
  border: 1px solid #040442;
  color: #040442;
  cursor: pointer;
  padding: 13px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#myBtn:hover {
  opacity: 0.4;
}

/* Layout styling */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.center {
  display: block;
  margin: 50px auto 20px;
  width: 25%;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.project-page main .wrapper {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 100px;
  padding: 0 20px;
}

.row {
  display: table;
}

.column {
  float: left;
  padding: 5px 10px;
  margin: 5px 0;
}

.lg4 {
  width: 33.333333%;
  text-align: center;
}

/* Header */
header {
  background-color: #040442;
  padding-top: 8px;
}

.logo {
  display: inline-block;
  width: 90px;
  margin: 8px 0 10px;
}

nav {
  display: inline-block;
  float: right;
  margin-top: 22px;
  font-weight: 700;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  float: left;
  margin-left: 40px;
}

nav a {
  text-transform: uppercase;
  color: #fff;
}

nav a:visited {
  color: #fff;
}

nav a:hover {
  color: #afeeee;
}

nav a:active {
  color: #afeeee;
}

/* Hero */
#hero {
  background-color: #040442;
  padding: 3px 0 100px;
}

#hero .wrapper {
  text-align: center;
  max-width: 950px;
}

#hero h1 {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}

#hero p {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

#hero .button {
  margin: 10px 15px;
  padding: 10px 40px 12px;
}

#hero .button1 {
  display: inline-block;
  border: 2px solid #fff;
  background-color: #fff;
  color: #040442;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px 12px;
  transition-duration: 0.5s;
}

#hero .button1:hover,
.button1:focus {
  background-color: #040442;
  color: #fff;
}

#hero span {
  display: block;
}

#hero .button {
  border-color: #fff;
  margin-top: 10px;
}

/* Works */
#works {
  padding: 30px 0 100px;
}

#works a {
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
  padding: 20px 0;
}

#works img {
  max-width: 70%;
}

#works h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

#works h3 {
  text-align: center;
  color: #040442;
  margin-top: 5px;
}

#works .overlay-container {
  position: relative;
}

#works .overlay-description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  background: rgba(244, 252, 255, 0.92);
}

#works .overlay-description p {
  margin: 100px 0 10px;
  font-size: 22px;
  font-weight: 700;
}

#works .overlay-description .button {
  padding: 10px 30px;
  width: auto;
}

/* FitJet */
.main-image {
  display: block;
  margin: 40px auto 20px;
  width: 70%;
}

#design-page-description .wrapper {
  max-width: 800px;
}

#design-page-description .wrapper2 {
  max-width: 930px;
  margin: 0 auto;
}

#design-page-description .wrapper3 {
  margin-bottom: 0;
}

#design-page-description h2 {
  color: #b22222;
  text-align: center;
  font-weight: 700;
  margin-top: 100px;
}

#design-page-description .product-description {
  margin-top: 20px;
}

#design-page-description .product-description2 {
  margin: 20px 0;
}

#design-page-button .button2 {
  display: inline-block;
  border: 2px solid #b22222;
  background-color: #b22222;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 22px 14px;
  transition-duration: 0.5s;
  margin: 0 15px 110px 75px;
}

#design-page-button .button2:hover,
.button2:focus {
  background-color: #fff;
  color: #b22222;
}

#design-page-button .button3 {
  display: inline-block;
  border: 2px solid #b22222;
  background-color: #fff;
  color: #b22222;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 22px 14px;
  transition-duration: 0.5s;
}

#design-page-button .button3:hover,
.button3:focus {
  background-color: #b22222;
  color: #fff;
}

/* VELA */
#design-page-description2 .wrapper {
  max-width: 850px;
}

#design-page-description2 .wrapper2 {
  max-width: 930px;
  margin: 0 auto;
}

#design-page-description2 .wrapper3 {
  margin-bottom: 0;
}

#design-page-description2 h2 {
  text-align: center;
  color: #071c45;
  font-weight: 700;
  margin-top: 100px;
}

#design-page-description2 .product-description {
  margin-top: 20px;
}

#design-page-description2 .product-description2 {
  margin: 20px 0;
}

#design-page-button2 .button2 {
  display: inline-block;
  border: 2px solid #071c45;
  background-color: #071c45;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 22px 14px;
  transition-duration: 0.5s;
  margin: 0 15px 110px 112px;
}

#design-page-button2 .button2:hover,
.button2:focus {
  background-color: #fff;
  color: #071c45;
}

#design-page-button2 .button3 {
  display: inline-block;
  border: 2px solid #071c45;
  background-color: #fff;
  color: #071c45;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 22px 14px;
  transition-duration: 0.5s;
}

#design-page-button2 .button3:hover,
.button3:focus {
  background-color: #071c45;
  color: #fff;
}

/* Footer */
footer {
  background-color: #040442;
  padding: 30px 0 50px;
  text-align: center;
}

footer .wrapper {
  text-align: center;
  max-width: 950px;
}

footer h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

footer p {
  margin: 5px 0;
  text-align: center;
  font-size: 22px;
  color: #fff;
}

footer .button {
  border-color: #fff;
  margin-top: 10px;
}

.social {
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
}

.social li {
  float: left;
  padding: 0 10px;
}

footer svg {
  width: 36px;
  height: auto;
}

footer svg:hover {
  transition-duration: 0.5s;
  opacity: 0.4;
}

.small-text {
  font-size: 12px;
  margin-top: 60px;
  text-align: center;
}

/* About */
#about {
  padding-bottom: 5px;
}

#about .wrapper {
  max-width: 850px;
}

#about .portrait {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}

#about .contact-button {
  margin: 30px 15px 90px 200px;
}

#about .button1 {
  display: inline-block;
  border: 2px solid #040442;
  background-color: #fff;
  color: #040442;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 36px 12px;
  margin-left: 5px;
  transition-duration: 0.8s;
}

#about .button1:hover,
.button1:focus {
  background-color: #040442;
  color: #fff;
}

#about ul {
  list-style-type: none;
  padding: 0;
}

/* Projects */
#projects h1 {
  margin: 40px 0 30px;
  font-size: 32px;
}

#projects h2 {
  margin-top: 50px;
  font-size: 24px;
}

#projects h3 {
  margin-top: 30px;
  font-size: 21px;
}

#projects p {
  font-size: 17px;
}

#projects li {
  font-size: 17px;
}

#projects img {
  max-width: 95%;
}

#projects .downsize {
  max-width: 70%;
}

#projects .downsize1 {
  max-width: 40%;
}

/* Medium devices (tablets, less than 992px) */
@media all and (max-width: 991px) {
  .md6 {
    width: 50%;
  }

  header .logo {
    margin-left: 10px;
  }

  header ul {
    margin-right: 20px;
  }

  #hero .wrapper {
    width: 89%;
  }

  #hero h1 {
    font-size: 32px;
    margin-top: 50px;
  }

  #hero h2 {
    font-size: 29px;
  }

  #hero p {
    font-size: 24px;
  }

  #hero .button {
    margin-top: 25px;
  }

  #works .overlay-description p {
    margin-top: 105px;
  }

  #projects .wrapper {
    width: 90%;
  }

  #projects h1 {
    font-size: 26px;
    margin-top: 40px;
  }

  #projects h2 {
    font-size: 23px;
  }

  #about .wrapper {
    max-width: 700px;
  }

  #about h2 {
    font-size: 28px;
  }

  #about .contact-button {
    margin-left: 120px;
    margin-bottom: 50px;
  }

  .main-image {
    width: 85%;
  }

  /* FitJet's Design Page */
  #design-page-description .wrapper {
    width: 90%;
  }

  #design-page-description .wrapper2 {
    width: 90%;
  }

  #design-page-button .button2 {
    margin: 0 15px 90px 30px;
  }

  /* VELA's Design Page */
  #design-page-description2 .wrapper {
    width: 90%;
  }

  #design-page-description2 .wrapper2 {
    width: 90%;
  }

  #design-page-button2 .button2 {
    margin: 0 15px 90px 40px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .xs12 {
    width: 100%;
  }

  .wrapper {
    padding: 0 10px;
  }

  header {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
  }

  header nav {
    display: table;
    float: none;
    margin: 0 auto 30px;
  }

  header ul {
    margin-left: auto;
    margin-right: auto;
  }

  header li {
    margin-left: 16px;
    margin-right: 15px;
  }

  #mybtn {
    font-size: 12px;
  }

  #hero .wrapper {
    width: 90%;
  }

  #hero h1 {
    font-size: 26px;
    margin-top: 50px;
  }

  #hero h2 {
    font-size: 28px;
  }

  #hero p {
    font-size: 20px;
    margin-bottom: 40px;
  }

  #about .wrapper {
    max-width: 95%;
  }

  #about h2 {
    font-size: 22px;
    margin-top: 25px;
  }

  #about .contact-button {
    margin: 20px 0 5px 70px;
    font-size: 16px;
  }

  #about .button1 {
    padding: 10px 38px 12px;
    margin-left: 70px;
    margin-bottom: 50px;
    font-size: 16px;
  }

  #works h2 {
    margin: 10px auto 20px;
    font-size: 32px;
  }

  #works .overlay-description p {
    margin-top: 100px;
  }

  #projects .wrapper {
    width: 95%;
  }

  #projects h1 {
    font-size: 23px;
    margin: 30px 0 10px;
  }

  #projects h2 {
    font-size: 22px;
  }

  .center {
    width: 45%;
    margin-top: 40px;
  }

  .main-image {
    width: 90%;
    margin-top: 30px;
  }

  /* FitJet's Design Page */
  #design-page-description h2 {
    font-size: 22px;
    margin-top: 60px;
  }

  #design-page-description .wrapper {
    width: 100%;
    margin-bottom: 70px;
  }

  #design-page-description .wrapper2 {
    width: 97%;
  }

  #design-page-button .button2 {
    margin: 0 15px 15px 35px;
    font-size: 16px;
  }

  #design-page-button .button3 {
    margin: 0 15px 90px 35px;
    font-size: 16px;
  }

  /* VELA's Design Page */
  #design-page-description2 h2 {
    font-size: 22px;
    margin-top: 60px;
  }

  #design-page-description2 .wrapper {
    margin-bottom: 20px;
    width: 100%;
  }

  #design-page-description2 .wrapper3 h2 {
    margin-top: 10px;
  }

  #design-page-button2 .button2 {
    margin: 5px 15px 15px 40px;
    font-size: 16px;
  }

  #design-page-button2 .button3 {
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 16px;
  }

  body {
    font-size: 17px;
  }

  a {
    font-size: 19px;
  }

  .form-control {
    width: 300px;
  }

  #contact .wrapper {
    width: 90%;
  }

  #contact h2 {
    font-size: 24px;
    margin: 10px auto 15px;
  }

  #contact p {
    font-size: 17px;
  }
}
