/*
Colors used

Primary Color (Navy): #040442;
Primary Color (White): #FFFFFF;
Secondary Color (Black): #000000;
Secondary Color (Cyan): #AFEEEE;
Secondary Color (Turquoise): #098599;
*/

/* text style */
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 1.6;
}

h1 {
  font-size: 36px;
  font-weight:700;
  color: #040442;
}

h2 {
  font-size: 31px;
  font-weight:700;
  color: #040442;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

a {
  color: #098599;
  text-decoration: none;
}

a:visited {
  color: #098599;
}

a:hover {
  text-decoration: none;
  color: #AFEEEE;
}

a:active {
  color: #040442;
}

/* button style */
.button {
  border: 2px solid #040442;
  font-family: inherit;
  background-color: #040442;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px 12px 15px;
  transition-duration: 0.5s;
}

.button:hover,
.button:focus {
  background-color: #FFFFFF;
  color: #040442;
  cursor: pointer;
  opacity: 0.8;
}

/* Layout styling */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
